body {
  display: block;
  margin: 0px;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

a.logo:visited,
a.logo:hover {
  color: black;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  color: white;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: black;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

main.page-content-wrapper {
  padding: 10px 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #ebebeb;
}

.header--nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header--nav a {
  text-decoration: none;
  color: black;
}

.header--nav a div {
  padding: 8px 16px;
  border-radius: 40px;
  font-weight: 300;
}

.header--nav a div:hover {
  background-color: #f7f7f7;
}

.header--nav a.selected div {
  padding: 8px 16px;
  border-radius: 40px;
  font-weight: 500;
}

.header--nav a.selected div:hover {
  background-color: transparent;
}

.header--auth-buttons {
  display: flex;
  gap: 10px;
}

button.btn--nav-button {
  color: black;
  background-color: #f7f7f7;
}

.logo--image {
  width: 40px;
  padding-right: 10px;
}

.form--signup {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 400px;
  gap: 15px;
}

.form--title {
  font-size: 1.5rem;
  margin-bottom: 25px;
}

.form--signup label {
  text-align: left;
}

.form--signup div {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.form--signup input {
  width: 75%;
}

.form--signup button {
  width: 100%;
}

.error {
  color: red;
}
li.error {
  font-size: 0.75rem;
}
ul.error {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.events-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.events-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 80%;
}

.event-card-wrapper {
  text-decoration: none;
  color: black;
}

.event-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  padding: 25px 15px;
  margin-bottom: 20px;
  height: 150px;
}

.event-card p {
  font-size: 0.7rem;
  margin: 0;
}

.event-card h3 {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 10px;
}

.event-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.event-details p {
  margin: 0;
}

.event-description {
  text-align: left;
  margin-bottom: 20px;
}

.event-card-button-row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.event-card-button-row button {
  border-radius: 40px;
  width: 90px;
  font-size: 0.8rem;
}

.event-card--host-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.check-mark {
  display: block;
  font-size: 0.6rem;
  line-height: 14px;
}

.btn-join {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.btn-join.joined {
  background-color: grey;
}
